@model string
@{
    var uxTaskId = ViewBag.uxTaskId;

    string searchText = Model;
    string host = ViewBag.AppHost;

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "searchResults",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loadingMsg"
    };
}

<script>
    // Reinstate last search results.
    $(document).ready(function () {
        if ($.trim($("#searchText").val()).length > 0) $("#appSearchForm").submit();
    });
</script>

<br/>

@using (Ajax.BeginForm("SearchAppsToAdd", "TaskManager", new {uxTaskId = uxTaskId}, options, new { id = "appSearchForm" }))
{
    <div>
        @Html.TextBox("searchText", searchText, new { style = "width: 500px" })
        <input type="submit" value="Search" class="btn btn-success" />
        <span id="loadingMsg" style="color:red;width:400px;background-color:yellow;font-size:larger;display:none;position:absolute;">Searching available apps. Please wait ....</span>
        @Html.Hidden("host", host)
    </div>
}

@Html.ActionLink("Cancel", "Back", "TaskManager", new { uxTaskId = uxTaskId }, new { @class = "btn btn-danger" })
<br />
<br />
<div id="searchResults">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}